.containerFilter {
  font-family: 'Palatino Linotype';
  color: #444;
  display: flex;
  margin: 10px;
}

.selectT {
  font-family: 'Palatino Linotype';
  font-weight: 800;
  margin: 10px;
  border: 2px solid #00a2ff; 
}

.selectABD {
  font-weight: 800;
  margin: 10px;
  border: 2px solid  #00a2ff; 
}
